@model IEnumerable<EntityLayer.Concrete.About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('https://www.excelsisdeo.com/images/AlphaTestersAnimation_60.gif');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="post-entry text-center">
                    <h1 class="">Hakkımızda</h1>
                    <p class="lead mb-4 text-white">Eğitim Portalı ekibini daha yakından tanıyın.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 order-md-2">
                    <img src="@item.AboutImage1" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-5 mr-auto order-md-1">
                    <h2>Proje Hakkında</h2>

                    <p>@item.AboutContent1</p>

                    <ul class="ul-check list-unstyled success">
                        <li>Bu proje 5 ayda bitmiştir.</li>
                        <li>Amacı tamamen öğrenciye ve öğrenmek isteyene hizmettir.</li>
                        <li>Proje MVC 5 Katmanlı Mimarisi ile yazılmıştır.</li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>




@*@Html.Action("MailSubscribe", "Blog")*@

@Html.Action("Footer", "About")


