
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <canvas></canvas>
    <script src="~/Tasarim/deneme.js"></script>
    <link href="~/Tasarim/deneme.css" rel="stylesheet" />
    <link href="~/Tasarim/deneme3.css" rel="stylesheet" />
    <div class="form-wrapper">
        <form onsubmit="return false;">
            <center>
                <img src="~/Tasarim/egitimportal.png" style="width:300px;height:260px;" />
            </center>

            <hgroup>
                <br />
                <center><h3>Kayıt Olma Sayfası</h3></center>
            </hgroup>

            <label for="name">İsim</label>
            <input type="text" id="name">

            <label for="email">E-mail</label>
            <input type="email" id="email">

            <label for="password">Şifre</label>
            <input type="password" id="password">


            <div class="checkbox">
                <input type="checkbox" id="check1">
                <label for="check1">Kullanım Koşullarını Kabul Ediyorum.</label><br>
            </div>



            <center>
                <a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Kayıt Ol
                </a>
            </center>
        </form>
    </div>
</body>
</html>
